body {
    font-family: arial;
    font-size: 12px;
    color: #313132;
}

table {
	font-size: 100%;
	border-collapse: collapse;
}

a {
	color: #53b147;
}

a img {
	border: none;
}

.attribute-image p {
	margin: 0px;
}

table td.info {
	/*padding: 8px;*/
}

table#inner {
	border: 3px solid #585858;
}
table tr td#header-text {
	background: #585858;
	color: #fff;
	font-weight: bold;
	padding: 12px 24px;
}

table tr td#pretext {
	padding: 12px;
	border-bottom: 1px solid #787a7d;
}

table tr td#posttext {
	padding: 0px 12px;
	border-top: 1px solid #787a7d;
}

table tr td.topic {
	padding: 12px 12px 12px 12px;
	border-bottom: 1px solid #787a7d;
}
table tr td.topic .attribute-image {
	float: left;
	margin-right: 12px;
}

table tr td.topic h2,
table tr td.topic h2 a {
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	font-weight: normal;
	color: #313132;
}

div.object-center {
	text-align: center;
}

div.object-right {
	float: right;
	margin-left: 12px;	
}

div.object-left {
	float: left;
	margin-right: 12px;
}